<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Nothing spesial here">
    <meta name="robots" content="archive, follow, imageindex, index, odp, snippet, translate">
    <meta name="author" content="">
    <title>Api Alphabot | Home</title>
    <meta property="og:site_name" name="og:site_name" content="Zeeoneofc Api">
    <meta property="og:title" name="og:title" content="Zeeoneofc Api">
    <meta property="og:url" name="og:url" content="https://hadehhhh.herokuapp.com/">
    <meta property="og:description" name="og:description" content="Nothing spesial here">
    	<script src="https://cdn.rawgit.com/bungfrangki/efeksalju/2a7805c7/efek-salju.js" type="text/javascript"> </script>
     <link rel="stylesheet" href="vendors/mdi/css/materialdesignicons.min.css">
    <meta name="msapplication-TileColor" content="#ffffff">
    <link rel="shortcut icon" href="https://f.top4top.io/p_2097ib6hw1.jpg" type="image/x-icon" />
    <meta name="theme-color" content="#ffffff">
    <link rel="canonical" href="https://hadehhhh.herokuapp.com/">
</head>

<body>
    <div class="text">
        <div class="status">
            <p></br></br></br></br></br></br></br></br></br></br></br></br></br>STATUS : <span class="typed-text"></span><span class="cursor typing"></span></p>
        </div>
        <hr>
        <div class="readdocs">
            <p>OPEN <a href="/docs" class="docs">DOCS.</a></p>
        </div>
    </div>
    <div class="bottom">
        <p align="center">
            <a href="http://wa.me/62887435047326" rel="noopener noreferrer" class="text"><i class="mdi mdi-whatsapp"></i>Whatsapp</a>
        </p>
    </div>
</body>
<style>
@import url(https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap);
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Ubuntu, sans-serif
}

html {
    background: url(https://telegra.ph/file/e3f3b4bc0c2dbccb4f4c5.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh
}

div.text {
    position: absolute
}

div.text .status {
    position: relative;
    animation: animetop .8s
}

div.text .readdocs {
    position: relative;
    animation: animebot .8s;
    text-align: center
}

@keyframes animetop {
    0% {
        top: -200px;
        opacity: 0
    }
    100% {
        top: 0;
        opacity: 1
    }
}

@keyframes animebot {
    0% {
        top: 200px;
        opacity: 0
    }
    100% {
        top: 0;
        opacity: 1
    }
}

p {
    color: rgba(255, 255, 255, .8);
    letter-spacing: .15em;
    font-size: 15px!important;
    font-weight: 600
}

a {
    text-decoration: none;
    color: rgba(255, 255, 255, .5)
}

a.sosmed {
    color: rgba(255, 255, 255, .8)
}

a:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, 1)
}

.typed-text {
    color: #0f0
}

.cursor {
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation: typing 1.5s steps(40, end), blink-caret .75s step-end infinite
}

@keyframes typing {
    from {
        width: 0
    }
    to {
        width: 100%
    }
}

@keyframes blink-caret {
    from,
    to {
        border-color: transparent
    }
    50% {
        border-color: orange
    }
}

hr {
    margin: 10px auto;
    position: relative;
    background: rgba(255, 255, 255, .5);
    width: 80%;
    height: 2px
}

div.bottom {
    position: fixed;
    left: 50%;
    bottom: 50px;
    transform: translate(-50%, -50%);
    margin: 0 auto
}
</style>
<script>
const typedTextSpan = document.querySelector(".typed-text"),
    textArray = ["ACTIVE~", "ONLINE~"],
    typingDelay = 200,
    erasingDelay = 100,
    newTextDelay = 2e3;
let textArrayIndex = 0,
    charIndex = 0;

function type() { charIndex < textArray[textArrayIndex].length ? (typedTextSpan.textContent += textArray[textArrayIndex].charAt(charIndex), charIndex++, setTimeout(type, 200)) : setTimeout(erase, 2e3) }

function erase() { charIndex > 0 ? (typedTextSpan.textContent = textArray[textArrayIndex].substring(0, charIndex - 1), charIndex--, setTimeout(erase, 100)) : (textArrayIndex++, textArrayIndex >= textArray.length && (textArrayIndex = 0), setTimeout(type, 1300)) }
document.addEventListener("DOMContentLoaded", (function() { setTimeout(type, 2250) }));

$(document).ready((function() {
    $(".changeprofile").submit((function(e) {
        var formObj, formURL = $(this).attr("action"),
            formData = new FormData(this);
        $.ajax({ url: formURL, type: "POST", data: formData, contentType: !1, cache: !1, processData: !1, beforeSend: function() { $("button").attr("disabled", "disabled"), $("input").attr("disabled", "disabled"), $("a").attr("disabled", "disabled"), $(".inibutton").html('<i class="fas fa-spinner fa-spin"></i> Wait') }, success: function(data) { data.includes("Success") ? ($("button").removeAttr("disabled", "disabled"), $("a").removeAttr("disabled", "disabled"), $("input").removeAttr("disabled", "disabled"), $(".inibutton").html("Save"), $.notify({ icon: "tim-icons icon-check-2", message: data }, { type: "success", timer: 3e3, placement: { from: "top", align: "right" } }), window.location = window.location) : ($("button").removeAttr("disabled", "disabled"), $("a").removeAttr("disabled", "disabled"), $("input").removeAttr("disabled", "disabled"), $(".inibutton").html("Save"), $.notify({ icon: "tim-icons icon-simple-remove", message: data }, { type: "danger", timer: 3e3, placement: { from: "top", align: "right" } })) } }), e.preventDefault()
    }))
}))
</script>

</html>
